<%- include('partials/header') -%>

  <h1>Shopping List</h1>
  
  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<items.length; i++) {%>
          <li class="col-6 justify-content-between mt-5 list-item">
            <span><%= items[i].item %></span>
            <span>$<%= items[i].prices[0].price %></span>
            <span>
                <form
                  action="/item/deleteItem/<%= items[i].id %>?_method=DELETE"
                  method="POST"
                  class="col-3"
                >
                <button class="btn btn-primary fa fa-trash" type="submit"></button>
                </form>
              </span> 
          </li>
        <% } %>
      </ul>
    </div>
  </div>  
  <div class="list-button">
    <a class="btn btn-primary" href="/profile">Return to Pricing List</a>
  </div>
<%- include('partials/footer') -%>