<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add an Item</h2>
            <form action="/item/createItem" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="item" class="form-label">Item Name</label>
                  <input type="text" class="form-control" id="item" name="item">
              </div>
              <div class="mb-3">
                <label for="prices" class="form-label">Price</label>
                <input type="number" class="form-control" id="prices" name="prices">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <h2>Your list of Grocery Items</h2>
        <ul class="row list-unstyled">
        <% for(var i=0; i<items.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <span><%= items[i].item %></span>
            <span>Most Recent Price: $<%= items[i].prices[0].price.toFixed(2) %></span>
            <span><%= items[i].prices[0].date.getMonth() %>/<%= items[i].prices[0].date.getDate() %>/<%= items[i].prices[0].date.getFullYear() %></span>
            <span>Cheapest price $<%= items[i].prices[0].price.toFixed(2) %></span>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Shopping List</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>